.settings {
  width: 80%; }
  @media only screen and (max-width: 480px) {
    .settings {
      width: 100%; } }
  .settings > div > div > div {
    display: flex;
    justify-content: center;
    flex-direction: column; }
  .settings h1 {
    text-align: center; }
  .settings .settings-content {
    padding-top: 30px !important;
    flex: 1;
    display: flex;
    justify-content: center; }
    @media only screen and (max-width: 480px) {
      .settings .settings-content {
        flex-direction: column;
        align-items: center; } }
  .settings path {
    fill: black; }
  .settings .settings-row {
    display: flex;
    justify-content: center;
    align-items: center; }
    @media only screen and (max-width: 480px) {
      .settings .settings-row {
        flex-direction: column; } }
  .settings .settings-column {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    justify-content: space-around; }
